<!DOCTYPE html>
<html>
    <head>
        <title>Frequently Asked Questions</title>
        <!--Ion icons-->
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css">

    </head>
    <body>
        <p>Frequently Asked Questions</p>
        <section>
            <div class="container">
                <div class="faq">
                    {% for req in all_requests %}
                        <div class="faq-item" id="question1">
                            <a class="faq-link" href="#question1">
                                {{ req.subject }} -- {{ req.descrition }}
                                <i class="icon ion-md-add"></i>
                                <i class="icon ion-md-remove"></i>
                            </a>
                            <div class="answer">
                                {% for comment in req.comments_set.all %}
                                     <p>
                                         {{ comment.content }}
                                    </p>
                                {% endfor %}

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </body>
</html>