<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>signin</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>

<body style="background: url('/static/img/bg2.jpg');">
	<div class="container">

		<nav class="navbar navbar-inverse" style="margin-top: 10px;opacity:0.7">
		  <div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="/"> Welcome {{ request.user.username }}</a></li>
				<li><a href="/accounts/logout">Log Out</a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>



		<form action="#" method="post" style="border: 1px solid #8e8b8b;padding: 20px;margin-top: 20px;">
            {% csrf_token %}
				<a class="btn btn-default" href="/requests">Submit Requests</a>
			<br><br><br>
				<a class="btn btn-default" href="/myrequests">Check Existing Requests</a>
            <br><br><br>
				<a class="btn btn-default" href="/faq">Frequently Asked Questions</a>
		</form>
	</div>
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.js"></script>
	<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="js/validate.js"></script>
	<script>
		function toValidate(){
			var val = new validate({
				rules:{
					card_name2:"email",
					card_name3:"password"
				},
				submitFun:function(){
					toSubmit();
				}
			})
		}
		function toSubmit(){
			alert("password ！！！")
		}
	</script>
<script>
    {% if msg %}
        alert("{{ msg }}")
    {% endif %}
</script>
</body>

</html>
